.messenger {
	&__link {
		display: flex;
		align-items: center;
		width: 210px;
		padding: 0 5px;
		margin: 0 auto;
	}

	&--light {
		.messenger__link {
			color: black;
			border: 2px solid black;
		}
	}

	&--dark {
		.messenger__link {
			color: white;
			border: 2px solid white;
		}
	}

	&__icon {
		margin-right: 5px;
		height: 2rem;
		margin: 5px;
	}
}
